---
title: TDM Printing
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">3D Printing for Professionals</h2>
		<p class="subtext editable">Whether you're a content creator looking to bring your creations to life, or an engineer requiring accurate 3D models, we have the solution for you.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Our services.</h3>
			<p class="editable">From film to games, if you're a 3D artist who wants to bring your creations to life, look no further.<br /><br />Conceptual designs and customer models are vital engineering tools, get them made with confidence.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for project in site.projects limit: 6 %}
					<li><a href="{{ site.baseurl }}{{ project.url }}"><img src="{% include relative-src.html src=project.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/ultimaker-1.png" width="250" style="margin-bottom: 40px;" /></li>
				<li><img src="{{ site.baseurl }}/images/ultimaker-closeup.jpg" width="300" /></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest technology</h3>
			<p class="editable">With dual extrusion, multi-colour, multi-material prints can be achieved.<br /><br /><strong>Print with greater freedom:</strong><br /><br />Dissolvable PVA eliminates the need for modelled supports and allows complex internal structures to be created.</p>
		</div>
	</div>
</section>
