---
layout: default
---
{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if portfolio.heading %}
		{% if page.title_override %}
		<h2><a href="{{ site.baseurl }}/portfolio/">{{ portfolio.heading }}</a> / {{ page.title_override }}</h2>
		{% else %}
		<h2><a href="{{ site.baseurl }}/portfolio/">{{ portfolio.heading }}</a> / {{ page.title | capitalize }}</h2>	
		{% endif %}
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
		<div class="auto-center-img-on-projects">
			{{ content }}
		</div>
		{% if page.external_url %}
		<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>
		{% endif %}
	</div>
</section>
